body, html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}
iframe {
    border: 1px solid white;
}
#container {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
#content {
    background-color: #1b1b1b;
    border: solid 3px #333;
    overflow: auto;
    padding: 15px;
}
.header {
    width: 100%;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
  
li {
    display: inline;
}
.center {
    display: block;
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.callnow {
    background-color: #c4eefa;
    color: black;
    padding: 5px;
}
#content img {
    border: 2px solid white;
    margin: 3px;
}
.txtrot {
    transform: rotate(-10deg);
    display: inline-block;
}
.inline {
    display: inline;
}